body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
  }
  

  h1 {
    margin: 0;
  }
  
  .main_body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 200px);
  }
  
  form {
    display: flex;
    flex-direction: column;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  label {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  input[type="email"],
  input[type="password"] {
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  button[type="submit"] {
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: #4CAF50;
    color: #fff;
    cursor: pointer;
  }
  
 